nav{
    padding: 10px;
    background-color: aquamarine;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
 margin: 20px;
 text-decoration: none;
 color:black;
}
button{
background-color: blueviolet;
color: white;

}